<style>
textarea, .editarea div {
  display: inline-block;
  width: 100%;
  height: 300px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #FAFAFA;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

.markdown-display {
  border: 1px solid #ccc;
}

h2 a {
  color: #1D90FF;
}
input[type="text"] {
  font-size: 30px;
  display: block;
}
button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px;
  margin-top: 4px;
}
.accept-button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-top: 20px;
  font: 16px;
}
#titleinput textarea {
  background-color: white;
  height: 100px;
}
</style>
<div class="centerbox">
  <div class="flexcenter">
    <!-- Left panel -->
    <div class="bigitem">
      <div class="displayitem">
        <div class="projectbox" id="projectbox">
          <div id="editor">
            <div class="editarea" v-if="projectName">
              <h2>
                <span v-on:click="clearName()">{{projectName}}</span>
                <a href="https://help.github.com/articles/github-flavored-markdown/"
                  target="_blank">(Format instructions here)</a>
              </h2>
              <textarea v-model="input" debounce="300"></textarea>
              <h2>Preview</h2>
              <div class="markdown-display" v-html="input | marked"></div>
              <button class="accept-button" v-on:click="saveIdea()">Save</button>
            </div>
            <div id="titleinput" v-else>
              <h2>Enter New Project Name:</h2>
              <input type="text" v-model="inputTitle"></input>
              <h2>Enter Short Description:</h2>
              <textarea v-model="shorDesc" debounce="300"></textarea>
              <button v-on:click="acceptName()">Continue</button>
            </div>
          </div>
        </div>
        <div style="height:0px;">
          <span class="footer">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Terms of service</a>
          </span>
        </div>
      </div>
    </div>
    <!-- Right panel -->
    <div class="smallitem">
      <div class="displayitem">
        <h2>Notifications</h2>
        <p><i>No new notifications</i></p>
      </div>
    </div>
  </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script>
new Vue({
  el: '#editor',
  methods: {
    clearName: function() {
      this.projectName = '';
    },
    acceptName: function() {
      this.projectName = this.inputTitle;
    },
    saveIdea: function() {
      var emulateJSON = {emulateJSON:true};
      var new_project = {action:'new_project', title:this.projectName};
      this.$http.put('/api/edit_project/', new_project, emulateJSON).then(function(response) {
        console.log('New Project', response.data);
        var project_id = response.data.project_id;
        var short_desc = {action:'edit_short_desc', project_id:project_id, data:this.shorDesc};
        this.$http.put('/api/edit_project/', short_desc, emulateJSON).then(function(response) {
          console.log('Put', short_desc);
          this.$http.put('/api/edit_project/', long_desc, emulateJSON).then(function(response) {
            console.log('Put', long_desc);
            document.location = '/' + _onload_data.user + '/' + this.projectName;
          }, function() {});
        }, function() {});
        var long_desc = {action:'edit_long_desc', project_id:project_id, data:this.input};
      }, function() {
        console.log('failure');
      });
    }
  },
  filters: {
    marked: marked
  },
  data: {
    input: '# hello',
    other: '# another',
    inputTitle: '',
    shorDesc: '',
    projectName: ''
  }
})
</script>
