<style>
.spinnerBox {
  width: 200px;
  height:200px;
  position: relative;
  margin: auto;
}

.spinnerBox .spinner {
  /* important! required to overided style from spinner.js */
  position: relative !important;
}
</style>
<div class="centerbox">
  <div class="flexcenter">
    <!-- Left panel -->
    <div class="bigitem">
      <div class="displayitem" id="projectdisplay">
        <h2>Projects</h2>
        <div v-if="showSpinner" class="spinnerBox" id="spinnerBox"></div>
        <div class="projectbox" v-for="project in projects" v-cloak>
          <img align=left v-bind:src="project.imageUrl">
          </img>
          <h1><a href="/{{project.owner}}/{{project.title}}">{{project.title}}</a></h1>
          <p>Team Leader: {{project.owner}}<p>
          <p>{{project.short_desc}}</p>
        </div>
        <p v-if="projects.length == 0 && ! showSpinner">No projects found<p>
        <div style="height:0px;">
          <span class="footer">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Terms of service</a>
          </span>
        </div>
      </div>
    </div>
    <!-- Right panel -->
    <div class="smallitem" id="notifications">
      <div class="displayitem">
        <h2>Notifications</h2>
        <p><i>Welcome back, {{init.user}}.</i></p>
      </div>
      <div class="displayitem">
        <h2>My Ideas</h2>
        <div v-if="showSpinner" class="spinnerBox" id="ideaSpinnerBox"></div>
        <div v-for="idea in myIdeas" class="projectbox">
          <img align=left width=40px height=40px v-bind:src="idea.imageUrl">
          </img>
          <p>{{idea.title}}</p>
        </div>
        <p v-if="myIdeas.length == 0 && ! showSpinner">None found<p>
      </div>
    </div>
  </div>
</div>
<script>
Vue.config.debug = true;
var gravatar = 'http://www.gravatar.com/avatar/MD5_HASH?d=identicon';
function addGravatars(projectArray) {
    for (index in projectArray) {
      if (!projectArray[index].imageUrl) {
        var hashSrc = projectArray[index].owner + '/' + projectArray[index].title;
        var md5 = CryptoJS.MD5(hashSrc).toString();
        projectArray[index].imageUrl = gravatar.replace('MD5_HASH',md5);
      }
    }
}

var notifications = new Vue({
  el: '#notifications',
  ready: function() {
    var target = document.getElementById('ideaSpinnerBox')
    var spinner = new Spinner(opts).spin(target);
    this.$http.get('/api/my_projects').then(function (response) {
      console.log(response.data);
      this.myIdeas = response.data;
      addGravatars(this.myIdeas);
      this.showSpinner = false;
    }, function (response) {
      // error callback
      this.showSpinner = false;
    });
  },
  data: {
    init: _onload_data,
    myIdeas: [],
    showSpinner: true,
    CryptoJS: CryptoJS
  }
});

var opts = {
  lines: 13 // The number of lines to draw
, length: 28 // The length of each line
, width: 14 // The line thickness
, radius: 42 // The radius of the inner circle
, scale: .3 // Scales overall size of the spinner
, corners: 1 // Corner roundness (0..1)
, color: '#000' // #rgb or #rrggbb or array of colors
, opacity: 0.25 // Opacity of the lines
, rotate: 0 // The rotation offset
, direction: 1 // 1: clockwise, -1: counterclockwise
, speed: 1 // Rounds per second
, trail: 60 // Afterglow percentage
, fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
, zIndex: 2e9 // The z-index (defaults to 2000000000)
, className: 'spinner' // The CSS class to assign to the spinner
, top: '50%' // Top position relative to parent
, left: '50%' // Left position relative to parent
, shadow: false // Whether to render a shadow
, hwaccel: false // Whether to use hardware acceleration
, position: 'absolute' // Element positioning
}

var projectdisplay = new Vue({
  el: '#projectdisplay',
  ready: function() {
    var target = document.getElementById('spinnerBox')
    var spinner = new Spinner(opts).spin(target);
    this.$http.get('/api/feed').then(function (response) {
      this.projects = response.data;
      addGravatars(this.projects);
      this.showSpinner = false;
    }, function (response) {
      // error callback
      this.showSpinner = false;
    });
  },
  data: {
    projects: [],
    myIdeas: [],
    showSpinner: true
  }
});
</script>
