<!DOCTYPE html>

<html>
  <head>
    <title>teamseek</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="http://fgnass.github.io/spin.js/spin.min.js">
  </head>
  <body>
    <div class="sl-page">
      <div class="sl-item header">
        <div class="centerbox align-to-displayitem">
          <span class="branding"><a href="/">teamseek</a></span>
          <ul id="menu">
            <a href="javascript:void(0)"><li>Home</li></a>
            <a href="javascript:void(0)"><li>Developers</li></a>
            <a href="javascript:void(0)"><li>Users</li></a>
            <a href="javascript:void(0)"><li>Support</li></a>
            <a href="{{account_url}}"><li>{{account_action}}</li></a>
          </ul>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.6.1/vue-resource.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
      <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
      <script>
        _onload_data = {{{initial_data}}};
        var LAYOUT_SPINNER_OPTS = {
          lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: .3 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
        }
      </script>
      <div class="sl-item body" id="slbody">
        {{{page_body}}}
      </div>
    </div>
  </body>
</html>
