<!DOCTYPE html>

<html>
  <head>
    <title>teamseek</title>
    <link rel="stylesheet" href="css/dashboard.css">
  </head>
  <body>
    <div class="sl-page">
      <div class="sl-item header">
        <div class="centerbox align-to-displayitem">
          <span class="branding">teamseek</span>
          <ul id="menu">
            <a href="javascript:void(0)"><li>Home</li></a>
            <a href="javascript:void(0)"><li>Developers</li></a>
            <a href="javascript:void(0)"><li>Users</li></a>
            <a href="javascript:void(0)"><li>Support</li></a>
            <a href="javascript:(function() {document.cookie='session=;Max-Age=0';document.location='/' })();"><li>Log Out</li></a>
          </ul>
        </div>
      </div>
      <div class="sl-item body" id="slbody">
        {{{page_body}}}
      </div>
    </div>
  </body>
</html>
