<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">

<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>TeamSeek - Welcome</title>
  </head>
  <body>
    <!--<div id="overlay"></div>-->
    <!-- header wrapper -->
    <div class="header">
      <div class="container header">
        <a href="javascript:void(0)"><h1 id="brand">TeamSeek</h1></a>
        <a href="javascript:void(0)" class="button" id="sign-in">Sign In</a>
        <ul id="menu">
          <a href="javascript:void(0)"><li>Home</li></a>
          <a href="javascript:void(0)"><li>Developers</li></a>
          <a href="javascript:void(0)"><li>Users</li></a>
          <a href="javascript:void(0)"><li>Support</li></a>
        </ul>
      </div>
    </div>
    <!-- end header wrapper -->

    {{{page_body}}}

    <!-- footer -->
    <div class="footer">
      <div class="container">
        <span id="copyright">All rights reserved &copy; TeamSeek</span>
        <ul id="footer-menu">
          <a href="javascript:void(0)"><li>Terms of Service</li></a>
          <a href="javascript:void(0)"><li>Privacy Policy</li></a>
          <a href="javascript:void(0)"><li>Disclaimer</li></a>
        </ul>
      </div>
    </div>
    <!-- end footer -->
  </body>
</html>
