<style>
.meter {
  width: 200px;
  height: 10px;
  padding: 3px 3px 3px 3px;
  margin: 4px 170px;
}
.markdown {
  margin-top: 28px;
}
.avatar {
  float: left;
  padding-right: 20px;
}
.user-display {
  margin-bottom: 20px;
  height: 80px;
}
.full-name {
  margin: 20px 0 5px 0;
  font-size: 25px;
}
#create-project {
  float: right;
  color: #1D90FF;
}
h1 {
  margin: 20px 0 20px 0;
  line-height: 20px;
}
#application .displayitem {
  height: 100px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 2px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}
.join-btn {
  margin: 30px 0px 0px 0px;
  width: 150px;
}
.skillbox {
  margin-top: 15px;
  line-height: 315%;
  white-space: nowrap;
  overflow: auto;
  width: 608px;
}
.skill {
  padding: 3px 5px 5px 5px;
  background-color: #1EC7FF;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}
.newskill {
  font-size: 27px;
  color: #9C9C9C;
  cursor: pointer;
}
.add-skill-box {
  position: fixed;
  width: 500px;
  height: 333px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.24);
}
.add-skill-box input[type="text"] {
  box-sizing: border-box;
  font-size: 21px;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.skill-autocomplete {
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 133px;
  font-size: 21px;
  overflow-y: auto;
  overflow-x: hidden;
}
.skill-autocomplete > li {
  list-style-type: none;
}
.skill-autocomplete > li:nth-child(odd) {
  background-color: rgba(29, 144, 255, 0.16);
}
.skill-autocomplete > li:hover {
  background-color: rgba(40, 185, 255, 0.45);
  cursor: pointer;
}

.comment-box {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #CFCFCF;
}
.comment {
  margin-left: 50px;
  margin-top: 5px;
}

.clock-icon {
  background-image: url('https://cdn4.iconfinder.com/data/icons/devine_icons/Black/PNG/System%20and%20Internet/Times%20and%20Dates.png');
  height: 20px;
  width: 20px;
}
.delete {
  cursor: pointer;
  font-size: 15px;
}
.delete:hover {
  color: red;
}
</style>
<div id="skillOverlay">
  <div class="dim-page" v-on:click="cancel()" v-if="active"></div>
  <div class="displayitem add-skill-box" v-if="active">
    <h3>Add Skill</h3>
    <input type="text" v-model="inputText" debounce="300" />
    <ul class="skill-autocomplete">
      <li v-for="suggestion in suggestions" v-on:click="addSkill($index)">{{suggestion}}</li>
    </ul>
    <button class="cancel-button" v-on:click="cancel()">Cancel</button>
  </div>
  <script>
  var skillOverlay = new Vue({
    el: '#skillOverlay',
    watch: {
      'inputText': function(data) {
        if (!data) {
          this.suggestions = [];
          return;
        }
        this.$http.get('/api/skills/', {q: data}).then(function(response) {
          this.suggestions = response.data;
        }, function (error) {
          alert(error);
        });
      }
    },
    methods: {
      show: function(successHook) {
        this.successHook = successHook;
        this.inputText = '';
        this.active = true;
      },
      cancel: function() {
        this.active = false;
      },
      addSkill: function(skillIndex) {
        var skill = this.suggestions[skillIndex].toLowerCase();
        var addSkill = {action:'add_skill', data:skill, project_id: projectbox.project_details.project_id};
        this.$http.put('/api/projects/', addSkill).then(function (response) {
          if (this.successHook) this.successHook(skill);
          this.active = false;
        },
        function(response) {
          alert(response);
        });
      }
    },
    data: {
      active: false,
      inputText: '',
      suggestions: []
    }
  });
  </script>
</div>

<div class="centerbox">
  <div class="flexcenter">
    <!-- Left panel -->
    <div class="bigitem">
      <div class="displayitem">
        <div class="projectbox" id="projectbox">

          <div v-if="noneFound">
            <h1>Project Not Found!</h1>
            <a href="/">return home</a>
          </div>
          <!-- Project details -->
          <div v-else v-cloak>
            <img align=left v-bind:src="project_details.avatar">
            </img>
            <h1>{{project_details.title}}
              <a v-if="isOwnProject"
              href="/create?project_id={{project_details.project_id}}&owner={{project_details.owner}}&title={{project_details.title}}"
              id="create-project">Edit</a>
            </h1>
            <span>Created on: {{project_details.posted_date}} </span><br /> 
            <span style="position: absolute;">Progress: </span>
            <div class="meter" v-bind:class="{'clickable':isOwnProject}"
              v-on:click="changeProgress($event)">
              <span v-bind:style="progressStyle"></span>
            </div>
            <div class="markdown">
              <div v-html="project_details.long_desc | marked"></div>
            </div>
            <div class="skillbox" v-if="project_details.project_skills != []"> 
              <label>Skill: </label>
              <span class="skill" v-for="skill in project_details.project_skills">{{skill}}</span>
            </div>
            <i class="icon-plus-sign newskill" title="Add skill" v-on:click="addSkill()" v-if="isOwnProject"></i>
            <br />
          </div>
        </div>
      </div>
      <!-- End project-details -->

      <!-- Suggested users -->
      <div id="suggested-users">
        <div v-if="isOwnProject" class="displayitem">
          <b><h2>Suggested Users</h2></b>
          <div v-for="user in users"> 
            <div class="user-display" v-if="init.user != user.username">
              <div class="avatar">
                <a href="/{{user.username}}/">
                <img width=80px height=80px v-bind:src="user.avatar"/>
                </a>
              </div>
              <a class="full-name" href="/{{user.username}}/">{{user.full_name}}</a>
              <button style="margin-left: 30px;">Invite</button>
              <button style="margin-left: 10px;">Contact</button>
              <br />
              <span>Joined on: {{user.join_date}}</span><br />
              <span>Skills: </span>
              <span v-for="skill in user.user_skills">{{skill.name}}, </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End suggested users -->

      <!-- Project's comments -->
      <div id="project-comments">
        <div class="displayitem">
          <b><h2>Comments: </h2></b>
          <div v-if="!noneFound"> 
            <div class="comment-box" v-for="cmt in comments">
              <a href="/{{cmt.username}}/">
                <img style="margin-top: 5px;" width=30px height=30px v-bind:src="cmt.avatar" class="avatar"/>
                <span style="font-size: 20px; height: 30px;">{{cmt.full_name}}</span>
              </a>
              <div style="text-align: right; float: right; margin-right: 10px; color: #A8A8A8; font-size: 13px;">
                {{cmt.cmt_time}}<br />
                <span v-if="isOwnProject" class="delete" v-on:click="deleteCmt(cmt.id)">[x]</span>
              </div>
              <div class="comment">{{cmt.comment}}</div>
              <!-- Comment's replies -->
              <div style="margin-left: 50px;" class="comment-box" v-for="c_cmt in cmt.c_comments">
                <a href="/{{cmt.username}}/">
                  <img style="margin-top: 5px;" width=30px height=30px v-bind:src="c_cmt.avatar" class="avatar"/>
                  <span style="font-size: 20px; height: 30px;">{{c_cmt.full_name}}</span>
                </a>
                <div style="text-align: right; float: right; margin-right: 10px; color: #A8A8A8; font-size: 13px;">
                  <div class="clock-icon"></div>{{c_cmt.cmt_time}}<br />
                  <span v-if="isOwnProject" class="delete" v-on:click="deleteCmt(c_cmt.id)">[x]</span>
                </div>
                <div class="comment">{{c_cmt.comment}}</div>
              </div>
              <!-- End comment's replies -->
              <textarea placeholder="Reply here" v-model="replyInput[cmt.id]" style="width:80%; margin-left: 50px; resize: vertical;" rows="1"></textarea>
              <button style="margin-left: 50px;" type="button" v-on:click="postCmt(cmt.id, replyInput[cmt.id])">Reply</button>
            </div>
          </div>
          <span style="font-size: 19px;" v-else>
              There's no comment for this project yet.
          </span>
          <div style="margin-top: 20px; border-bottom: 0 transparent;" class="comment-box">
            <span>Comment: <br /></span>
            <textarea placeholder="New comment here" v-model="cmtInput" style="width:100%; resize:vertical;" rows="7"></textarea>
            <button type="button" v-on:click="postCmt(0, cmtInput)">Post</button>
          </div>
        </div>
      </div>
      <!-- End of project's comments -->

      <!-- Footer under project details --> 
      <div style="margin-left: 50px; height:0px;">
        <span class="footer">
          <a href="#">About</a>
          <a href="#">Contact</a>
          <a href="#">Terms of service</a>
        </span>
      </div>
      <!-- End footer under project details -->
    </div>
    <!-- Right panel -->
    <div class="smallitem">
      <div id="application">
        <div v-if="!isOwnProject" class="displayitem">
          <div v-if="!isApplied" v-on:click="joinProject()" class="btn join-btn">Join This Project</div>
          <p class="join-btn" v-else>You have applied for this project</p>
        </div>
      </div>
      <div class="displayitem" id="members">
        <h2>Members</h2>
        <div class="projectbox" v-for="member in member_list">
          <a href="/{{member.username}}"><img align=left width=40px height=40px v-bind:src="member.avatar"/></a>
          <a href="/{{member.username}}"><span style="font-size: 17px;">{{member.full_name}}</span><br /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
var gravatar = 'http://www.gravatar.com/avatar/MD5_HASH?d=identicon';
function getGravatar(hashItem) {
  var md5 = CryptoJS.MD5(hashItem).toString();
  return gravatar.replace('MD5_HASH',md5);
}

Vue.http.options.emulateJSON = true;

var members = new Vue({
  el: '#members',
  methods: {
    getMembersDetails: function(owner, data) {
      user_request = {'action': 'user_details', 'username': owner};
      this.$http.get('/api/users/', user_request).then(function(response) {
        /* if user doesn't have any avatar */
        if (!response.data.avatar) 
          response.data.avatar = 'https://cdn3.iconfinder.com/data/icons/business-pack-3/512/12-512.png';
        response.data.full_name += ' (Leader)';
        this.member_list.push(response.data);
      });

      for (index in data) {
        user_request = {'action': 'user_details', 'username': data[index]};
        this.$http.get('/api/users/', user_request).then(function(response) {
          /* if user doens't have any avatar, use default ones */
          if (!response.data.avatar)
            response.data.avatar = 'https://cdn3.iconfinder.com/data/icons/business-pack-3/512/12-512.png';
          this.member_list.push(response.data);
        });
      }
    }
  },
  data: {
    member_list: []
  }
});

var projectbox = new Vue({
  el: '#projectbox',
  ready: function() {
    request_params = {action: 'project_details', user:_onload_data.user, title:_onload_data.title};
    this.$http.get('/api/projects/', request_params).then(function(response) {
      if (!response.data || response.data.error) {
        this.noneFound = true;
      } else {
        this.project_details = response.data;
        if (!response.data.progress) response.data.progress = 0;
        this.progressStyle.width = response.data.progress + '%';
        this.project_details.long_desc = response.data.long_desc || "No description yet!";
        /* If the project doesn't have any avatar, use default one */
        if (!this.project_details.avatar)
          this.project_details.avatar = 'http://www.gravatar.com/avatar/2ddcb18c2d8d42f043ed8765b039876e?d=identicon';
        // If project's description isn't defined
        /* Now make sure we have the members' details */
        members.getMembersDetails(this.project_details.owner, this.project_details.project_members);
      }
      application.checkApplied();
      SuggestedUsers.getUsers();
      ProjectComments.getComments();
    }, function() {
      console.log('failure');
    });
  },
  filters: {
    marked: marked
  },
  methods: {
    changeProgress: function(event) {
      // Do nothing if user is not the owner
      if (!_onload_data.isOwnProject) return;
      // Divide click location by width of target
      var t = parseInt((event.offsetX / event.target.clientWidth) * 100, 10);
      if (t > 100) t = 100;
      var update_progress = {'action': 'edit_progress',
                             'data': parseInt(t),
                             'project_id': this.project_details.project_id};
      this.progressStyle.width = t + '%';
      this.$http.post('/api/projects/', update_progress).then(function(response) {
        console.log(response);
      }, function(error) {
        alert(error);
      });
    },
    addSkill: function(skill) {
      var that = this;
      /* Render temporary skill tag when new skill is added serverside */
      skillOverlay.show(function(skill) {
        that.project_details.project_skills.push(skill);
      });
    } 
  },
  data: {
    noneFound: false,
    progressStyle: {width: '0%'},
    isOwnProject: _onload_data.isOwnProject,
    project_details: {'long_desc': ''},
  }
});

var application = new Vue({
  el: '#application',
  methods: {
    joinProject: function() {
      new_application = {'action': 'new_application', 'project_id': projectbox.project_details.project_id};
      this.$http.put('/api/applications/', new_application).then(function(response) {
        /* Successful */        
        if (!response.data.error)
          this.isApplied = true;
      });
    },
    checkApplied: function() {
      is_applied = {'action': 'is_applied', 'project_id': projectbox.project_details.project_id};
      this.$http.get('/api/applications/', is_applied).then(function(response) {
        if (response.data[0])
          this.isApplied = true;
    });

    }
  },
  data: {
    isApplied: false,
    isOwnProject: _onload_data.isOwnProject
  }
});

var SuggestedUsers = new Vue({
  el: '#suggested-users',
  methods: {
    getUsers: function() {
      request_params = {'action': 'qualified_users', 'project_id': projectbox.project_details.project_id};
      this.$http.get('/api/suggestions/', request_params).then(function (response) {
        // If failed
        if (!response.data || response.data.error) {
          console.log("Suggested Users:", response.data.error);
          return;
        }
        // If successful
        this.users = response.data;
      });
    }
  },
  data: {
    isOwnProject: _onload_data.isOwnProject,
    init: _onload_data,
    users: [],
  }
});

var ProjectComments = new Vue ( {
  el: '#project-comments',
  methods: {
    getComments: function() {
      // Getting project's comments
      // This function is called by projectbox's Vue
      request_params = {"action": "project_cmts", "project_id": projectbox.project_details.project_id};
      this.$http.get('/api/projects/', request_params).then(function (response) {
        // If failed to fetch comments
        if (!response.data[0] || response.data.error) {
          err = response.data.error || "No comments found";
          console.log("ProjectComments:", err);
          return;
        }
        // If comments are successfully fetched
        this.comments = response.data;
        this.noneFound = false;
      });
    },
    postCmt: function(parent_id, data) {
      // Posting a comment
      // This function will call the getComments method after
      // it's finished posting comment
      request_params = {
        "action": "add_cmt", 
        "data": data, 
        "project_id": projectbox.project_details.project_id,
        "parent_id": parent_id
      };
      this.$http.put('/api/projects/', request_params).then(function (response) {
        // If failed to post comments
        if (response.data.error) {
          err = response.data.error;
          console.log("ProjectComments:", err);
          return;
        }
        // If comment is successfully posted
        this.cmtInput = '';
        this.replyInput = '';
        this.getComments(this.project_id);
      });
    },
    deleteCmt: function(id) {
      // Deleting a comment
      this.$http.delete('/api/projects/?action=delete_cmt&id=' + id).then(function (response) {
        // If failed to delete
        if (response.data.error) {
          err = response.data.error;
          console.log("ProjectComments:", err);
          return;
        }
        // If comment is successfully deleted
        this.getComments();
      });
    }
  },
  data: {
    noneFound: true,
    isOwnProject: _onload_data.isOwnProject,
    comments: [],
    cmtInput: '',
    replyInput: []
  }
});
</script>
