<style>
.markdown {
  margin-top: 28px;
}
#create-project {
  float: right;
  color: #1D90FF;
}
</style>
<div class="centerbox">
  <div class="flexcenter">
    <!-- Left panel -->
    <div class="bigitem panel panel-default">
      <div class="displayitem">
        <div class="projectbox" id="projectbox">
          <div v-if="noneFound">
            <h1>Project Not Found!</h1>
            <a href="/">return home</a>
          </div>
          <div v-else v-cloak>
            <img align=left v-bind:src="imageUrl">
            </img>
            <h1>{{title}}
              <a v-if="isOwnProject"
              href="/create?project_id={{project_id}}&owner={{teamLeader}}&title={{title}}"
              id="create-project">Edit</a>
            </h1>
            <p>Team Leader: <a href="/{{teamLeader}}">{{teamLeader}}</a><p>
            <div class="markdown">
              <div v-html="long_desc | marked"></div>
            </div>
          </div>
        </div>
        <div style="height:0px;">
          <span class="footer">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Terms of service</a>
          </span>
        </div>
      </div>
    </div>
    <!-- Right panel -->
    <div class="smallitem">
      <div class="displayitem">
        <h2>Notifications</h2>
        <p><i>No new notifications</i></p>
      </div>
      <div class="displayitem" id="members">
        <h2>Members</h2>
        <div class="projectbox" v-for="member in memberArray">
          <img align=left width=40px height=40px v-bind:src="member.imageUrl">
          </img>
          <p><a href="/{{member.name}}">{{member.name}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script>
var gravatar = 'http://www.gravatar.com/avatar/MD5_HASH?d=identicon';
function getGravatar(hashItem) {
  var md5 = CryptoJS.MD5(hashItem).toString();
  return gravatar.replace('MD5_HASH',md5);
}

var members = new Vue({
  el: '#members',
  methods: {
  },
  data: {
    memberArray: []
  }
});

var projectbox = new Vue({
  el: '#projectbox',
  ready: function() {
    this.$http.get('/api/projects', {action: 'project_details', user:_onload_data.user, title:_onload_data.title}).then(function(response) {
      if (!response.data || response.data.error) {
        this.noneFound = true;
      } else {
        response.data = response.data[0]
        this.imageUrl = getGravatar(_onload_data.user + '/' + _onload_data.title);
        users = [];
        if (response.data.project_members) {
          // Display project owner as first member
          response.data.project_members.unshift(response.data.owner);
          for (index in response.data.project_members) {
            var user = response.data.project_members[index];
            users.push({name: user, imageUrl: getGravatar(user)});
          }
        }
        members.memberArray = users;
        this.teamLeader = response.data.owner;
        this.long_desc = response.data.long_desc || '';
        this.project_id = response.data.project_id || '';
        this.title = response.data.title;
      }
    }, function() {
      console.log('failure');
    });
  },
  filters: {
    marked: marked
  },
  data: {
    noneFound: false,
    long_desc: '',
    isOwnProject: _onload_data.isOwnProject,
    teamLeader: '',
    imageUrl: '',
    title: '',
    project_id: ''
  }
});
</script>
