<div class="centerbox">
  <div class="flexcenter">
    <!-- Left panel -->
    <div class="bigitem">
      <div class="displayitem">
        <div class="projectbox">
          <img align=left
               src="http://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon">
          </img>
          <h1>ProjectCool</h1>
          <p>Team Leader: niavarga<p>
          <p>
            My idea is to create a social network where users can only post one word statuses.
            This is actually a great idea and we are estimating a $1 billion valuation.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div style="height:0px;">
          <span class="footer">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Terms of service</a>
          </span>
        </div>
      </div>
    </div>
    <!-- Right panel -->
    <div class="smallitem">
      <div class="displayitem">
        <h2>Notifications</h2>
        <p><i>No new notifications</i></p>
      </div>
      <div class="displayitem">
        <h2>Members</h2>
        <div class="projectbox">
          <img align=left width=40px height=40px
               src="http://www.gravatar.com/avatar/2b3be63a4c2a439b013787725dfce802?d=identicon">
          </img>
          <p>Nicholas Vargas</p>
        </div>
        <div class="projectbox">
          <img align=left width=40px height=40px
               src="http://www.gravatar.com/avatar/5b3be63a4c2a439b013787725dfce802?d=identicon">
          </img>
          <p>George Washington</p>
        </div>
      </div>
    </div>
  </div>
</div>
