<style>
#bioEl {
  margin-bottom: 20px;
}
.bioEdit {
  padding: 10px;
  border: solid;
  border-width: 1px;
}
textarea, .editarea div {
  display: inline-block;
  width: 100%;
  background-color: inherit;
  font-family:  inherit;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  padding: 0px;
}
textarea:disabled {
  /* bio displayed in a text area even when not active */
  color: black;
}
</style>
<div class="centerbox">
  <div class="flexcenter">
    <!-- Left panel -->
    <div class="bigitem">
      <div id="projectdisplay">
        <div class="displayitem">
          <h2>
            {{user}}<a class="topDetailLink" v-on:click="editBio()" v-if="isOwnProfile && !editableBio">Edit</a>
          </h2>
          <div id="bioEl" v-cloak>
            <textarea v-bind:class="{ 'bioEdit': editableBio }" :spellcheck="editableBio"
                      v-model="bio" :disabled="!editableBio">{{bio}}</textarea>
            <button v-if="editableBio" class="accept-button" v-on:click="saveBio()">Save</button>
            <button v-if="editableBio" class="cancel-button" v-on:click="cancelBio()">Cancel</button>
          </div>
        </div>
        <div class="displayitem">
          <h2>Projects from {{user}}</h2>
          <div v-if="showSpinner" class="spinnerBox" id="spinnerBox"></div>
          <div class="projectbox" v-for="project in projects" v-cloak>
            <img align=left v-bind:src="project.imageUrl">
            </img>
            <h1><a href="/{{project.owner}}/{{project.title}}">{{project.title}}</a></h1>
            <p>{{project.short_desc}}</p>
          </div>
          <p v-if="projects.length == 0 && ! showSpinner">No projects found<p>
          <div style="height:0px;">
            <span class="footer">
              <a href="#">About</a>
              <a href="#">Contact</a>
              <a href="#">Terms of service</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Right panel -->
    <div class="smallitem">
      <div class="displayitem">
        <h2>Notifications</h2>
        <p><i>No new notifications</i></p>
      </div>
    </div>
  </div>
</div>
<script>
var gravatar = 'http://www.gravatar.com/avatar/MD5_HASH?d=identicon';
Vue.http.options.emulateJSON = true;
function addGravatars(projectArray) {
    for (index in projectArray) {
      if (!projectArray[index].imageUrl) {
        var hashSrc = projectArray[index].owner + '/' + projectArray[index].title;
        var md5 = CryptoJS.MD5(hashSrc).toString();
        projectArray[index].imageUrl = gravatar.replace('MD5_HASH',md5);
      }
    }
}

var projectdisplay = new Vue({
  el: '#projectdisplay',
  ready: function() {
    this.$http.get('/api/projects', {action: 'my_projects', owner:_onload_data.user}).then(function (response) {
      this.projects = response.data;
      addGravatars(this.projects);
      this.showSpinner = false;
    });
    var user_details = {action:'user_details', username:_onload_data.user};
    this.$http.get('/api/users', user_details).then(function (response) {
      console.log(response.data);
      this.bio = 'User "' + _onload_data.user + '" has not yet made a bio!';
      if (response.data.bio) this.bio = response.data.bio;
    }, function (response) {
      // error callback
      this.showSpinner = false;
    });
  },
  methods: {
    editBio: function() {
      this.oldBio = this.bio;
      this.editableBio = true;
    },
    saveBio: function() {
      this.editableBio = false;
      var edit_bio = {action:'edit_bio', data:this.bio};
      this.$http.post('/api/users/', edit_bio).then(function (response) {

      }, function(response) {
        alert('There was an issue saving the bio');
      });
    },
    cancelBio: function() {
      this.bio = this.oldBio;
      this.editableBio = false;
    }
  },
  data: {
    projects: [],
    myIdeas: [],
    editableBio: false,
    bio: '',
    oldBio: null, /* save old bio in case the users discards changes */
    user: _onload_data.user,
    isOwnProfile: _onload_data.isOwnProfile,
    showSpinner: true
  }
});
</script>
