<style>
/* Content style */
.content {
  background-color:white;
}
.content .container {
  text-align: center;
  width: 700px;
  position: absolute;
  top: 35%;
  left: 30%;
  right: 30%;
  background-color:white;
  border-radius: 50px;
}
#slogan {
    font-weight: bold;
    color: #1425AC;
    margin-top: 20px;
    font-size: 40px;
}
#get-started {
    font-size: 25px;
    background-color: #D8A000;
    color: #F2F2F2;
    line-height: 100px;
}
#get-started:hover {
    color: #FFF;
    background-color: #E9B00D;
}
.button {
    font: "museo-sans-rounded",sans-serif;
    font-weight: bold;
    background-color: white;
    color: #0B4176;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 7px 15px;
    line-height: normal;
}
</style>
<div class="hands" style="background-image: url("https://stuckincustoms.smugmug.com/Portfolio/i-fg7xqT7/0/X3/Trey%20Ratcliff%20-%20Photo%20-%20%20-%2012-X3.jpg");">
  <div class="content">
    <div id="centerbox" class="container">
      <div id="slogan">Share Knowledge. Find Peers.<br />Start Developing.</div>
      <a v-on:click="getStarted()" class="button" id="get-started" >Get Started!</a>
    </div>
  </div>
</div>
<script>
  var welcome = new Vue({
    el: '#centerbox',
    methods: {
      getStarted: function() {
        // Get username string from user
        var user = prompt('Debug feature: enter username to log in as');
        if (user) {
          this.$http.get('/api/auth/debug', {user:user}).then(function() {
            // Refresh page for changes to take effect.
            document.location = '/';
          }, function() {
            console.log('failure');
          });
        }
      }
    }
  });
</script>
